---
layout: course
---

<h2>Aulas</h2>

<ul style="list-style: none">
  {% for p in site.pages %}
    {% if p.draft != true and p.url != page.url and p.url contains page.url %}
      <li><a href="{{ p.url }}">{{ forloop.index }}. {{ p.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Exercícios</h2>

<ul style="list-style: none">
  {% assign urlExercise = page.url | append: 'exercicio' %}
  {% for p in site.pages %}
    {% if p.draft != true and p.url contains urlExercise %}
      {% assign hasExercises = true %}
      <li><a href="{{ p.url }}">{{ p.quiz-title }}</a></li>
    {% endif %}
  {% endfor %}

  {% if p.hasExercises != true %}
    <li>Ainda não há exercícios</li>
  {% endif %}
</ul>
