---
layout: course
quiz-number: 7.5
quiz-title: Revisão 2.1
date: 2017-10-25 00:00
---

<h1>{{ page.quiz-title }}</h1>

<p>Esta é uma revisão para a segunda prova.</p>

<ol>
  <li class="pergunta" value="1">
    <p>
      Na aplicação de <u>MiniBlog</u>, o que você faria para que a lista de posts fosse exibido na ordem, sendo que os
      mais recentes apareçam primeiro e os mais antigos no final?
    </p>
    <p>
      Desenvolva a solução que você optou.
    </p>
  </li>

  <li class="resposta">
    Essa é uma questão para discussão em sala.
  </li>

  <li class="pergunta" value="2">
    <p>Desenvolva a funcionalidade de modificar os <em>posts</em> do <u>MiniBlog</u>, que atenda aos seguintes requisitos:</p>

    <ol type="a">
      <li>O horário de publicação não poderá ser alterado.</li>
      <li>
        Na visualização do texto do <em>post</em>, se ele foi modificado, deverá ser exibida a informação de que o
        <em>post</em> foi modificado em tal data/hora.
      </li>
      <li>
        A modificação do <em>post</em> deve ocorrer de forma automática, quando o usuário solicitar a modificação, então
        essa será a hora em que o <em>post</em> foi modificado.
      </li>
    </ol>

    <hr>

    <p>
      Nessa questão, você deverá alterar o esquema da tabela <kbd>Posts</kbd>, adicionando uma segunda coluna
      <code>DATETIME</code> para saber o momento da modificação. Use a instrução abaixo na tabela já criada:
    </p>

    {% highlight sql %}ALTER TABLE Posts ADD modificado DATETIME NULL{% endhighlight %}

    <p>Assim, em resumo, para atingir os objetivos da questão, você precisará:</p>
    <ol type="I">
      <li>Adicionar a nova coluna ao banco de dados.</li>
      <li>Adicionar o novo campo à classe de dados <code>Post</code>.</li>
      <li>Modificar o <code>PostDao</code> para utilizar o novo campo.</li>
      <li>Adicionar um novo subcomando para exibir o formulário de modificação e executar a ação de modificar o
        <em>post</em> no banco de dados.</li>
    </ol>

    <p>
      OBS:
      <span style="font-weight: normal;">
        lembre-se que a coluna <u>modificado</u> é <code>NULL</code>, portanto, para saber se o <em>post</em>
        foi modificado no Java, basta fazer a comparação <code>modificado != null</code>.
      </span>
    </p>
  </li>

  <li class="resposta">
    <p>Esse é um tipo de problema que é melhor se resolvido em partes. Como a aplicação já está estruturada em MVC, vou
      descrever a solução usando cada uma das camadas.</p>

    {%- assign gistAnswer2="wagnerluis1982/ca9a091cae108ba41162ee38fc357282" %}

    <hr>

    <p><b><u>Model</u></b></p>

    <p>As mudanças necessárias na camada model são bem simples, basta considerar o campo <code>modificado</code> nas
      classes modelo e de acesso a dados.</p>

    {% include gist.html id=gistAnswer2 lines="10"
            filename="Post.java"
            title="<kbd><b>Post.java</b></kbd> (classe modelo)" %}

    {% include gist.html id=gistAnswer2 lines="3,17,26"
            filename="PostDao-modificado.java"
            title="<kbd><b>PostDao.java</b></kbd> (classe de acesso a dados)" %}

    <hr>

    <p><b><u>View</u></b></p>

    <p>Nas interfaces de usuário, precisamos criar um formulário para modificar um post e adicionar à tela de
      visualização a informação do campo modificado se necessário.</p>

    {% include gist.html id=gistAnswer2 lines="3,8,9,10"
            filename="visualizar.jsp"
            title="<kbd><b>/posts/visualizar.jsp</b></kbd> (visualização de post com aviso de modificado)" %}

    {% include gist.html id=gistAnswer2
            filename="modificar.jsp"
            title="<kbd><b>/posts/modificar.jsp</b></kbd> (nova tela com formulário de modificação)" %}

    <p>
      O mais importante são essas duas telas acima, mas também é necessário links para o usuário acessar o formulário de
      de modificação do post, eu fiz isso na lista de posts.
    </p>

    <p>
      Mas note que há uma variável booleana <code>isAdmin</code> para exibir o link, como simulação de acesso como
      administrador. Essa variável é definida no comando <code>Posts:index</code> que usa essa tela.
    </p>

    {% include gist.html id=gistAnswer2 lines="10,11,12"
            filename="lista.jsp"
            title="<kbd><b>/posts/lista.jsp</b></kbd> (lista de posts com link para edição)" %}

    <hr>

    <p><b><u>Controller</u></b></p>

    <p>Eu adicionei o comando <code>Posts:atualizar</code> que é bem parecido com o de adicionar posts, mas utiliza o
      campo <u>modificado</u>.</p>

    <p>Note que eu não precisei mexer no comando <code>Posts:visualizar</code>, pense no porque 🤔</p>

    {% include gist.html id=gistAnswer2
            filename="Posts:atualizar.java"
            title="<kbd><b>Posts:atualizar</b></kbd> (novo comando)" %}

    <p>A simulação de acesso como administrador é feito no comando <code>Posts:index</code>.</p>

    {% include gist.html id=gistAnswer2 lines="8,9,10"
            filename="Posts:index.java"
            title="<kbd><b>Posts:index</b></kbd> (comando com alteração)" %}

  </li>

  <li class="pergunta" value="3">
    <p>Adicione à aplicação <u>MiniBlog</u> o recurso de marcar um <em>post</em> com uma <em>tag</em>.</p>

    <p>A funcionalidade de <em>tags</em> deverá funcionar da seguinte forma:</p>
    <ol type="a">
      <li>Cada <em>post</em> poderá ser marcado com apenas uma <em>tag</em>.</li>
      <li>Poderá haver <em>posts</em> sem marcação.</li>
      <li>
        A criação de <em>tags</em> deverá ser automática, se ao criar ou modificar um <em>post</em>, for escrito o nome
        de uma <em>tag</em> inexistente, então esta deverá ser criada.
      </li>
      <li>
        Na visualização do texto do <em>post</em>, deverá aparecer a <em>tag</em> marcada. Se o <em>post</em> não tiver
        marcação, então deverá ser exibido essa informação.
      </li>
      <li>
        Não será necessário criar telas de CRUD para as <em>tags</em>.
      </li>
    </ol>

    <hr>

    <p>As <em>tags</em> serão mantidas na tabela <kbd>Tags</kbd>:</p>

    <table class="opcoes">
      <tr>
        <td><img src="un2/tags.svg"></td>
        <td>{% highlight sql %}{% include_relative un2/create-tags.sql %}{% endhighlight %}</td>
      </tr>
    </table>

    <p>E é preciso criar a chave estrangeira na tabela <kbd>Posts</kbd>:</p>

    {% highlight sql %}ALTER TABLE Posts ADD tag_id INT NULL REFERENCES Tags (id){% endhighlight %}

    <p>Estou fornecendo também as classes de acesso a dados <code>Tag</code> e <code>TagDao</code>, com os métodos
      necessários para a questão.</p>

    <details>
      <summary><kbd>Tag.java</kbd></summary>
      {% highlight java %}{% include_relative un2/Tag.java %}{% endhighlight %}
    </details>

    <details>
      <summary><kbd>TagDao.java</kbd></summary>
      {% highlight java %}{% include_relative un2/TagDao.java %}{% endhighlight %}
    </details>
  </li>

  <li class="resposta">
    Tente fazer primeiro 👍
  </li>
</ol>
