---
layout: course
quiz-number: 7.5
quiz-title: Revisão 2.0
date: 2017-10-23 00:00
---

<h1>{{ page.quiz-title }}</h1>

<p>Esta é uma revisão para a segunda prova.</p>

<ol>
  <li class="pergunta" value="1">
    <p>Crie uma aplicação chamada <u>MiniBlog</u> que tenha as seguintes características:</p>

    <ol type="a">
      <li>
        Uma tela que liste todos os <em>posts</em> publicados. Deverá ser listado somente o título e a data dos
        <em>posts</em>, com um link para ver o <em>post</em> completo.</li>
      <li>
        Outra tela para exibir o <em>post</em> completo.</li>
      <li>
        E uma terceira tela com um formulário que permite publicar <em>posts</em>.</li>
    </ol>

    <p>A aplicação deve ser desenvolvida usando o <em>framework</em> MVC discutido em sala de aula.</p>

    <hr>

    <p>Os <em>posts</em> serão adicionados à tabela <kbd>Posts</kbd>:</p>

    <table class="opcoes">
      <tr>
        <td><img src="un2/posts.svg"></td>
        <td>{% highlight sql %}{% include_relative un2/create-posts.sql %}{% endhighlight %}</td>
      </tr>
    </table>

    <p>As classes de acesso a dados <code>Post</code> e <code>PostDao</code> já estão criadas e prontas para uso:</p>

    <details>
      <summary><kbd>Post.java</kbd></summary>
      {% highlight java %}{% include_relative un2/Post.java %}{% endhighlight %}
    </details>

    <details>
      <summary><kbd>PostDao.java</kbd></summary>
      {% highlight java %}{% include_relative un2/PostDao.java %}{% endhighlight %}
    </details>
  </li>

  <li class="resposta">
    <p>Eu desenvolvi um comando chamado <code>Posts</code> com três subcomandos:</p>
    <dl>
      <dt><code>index</code></dt>
      <dd>Lista de posts publicados.</dd>

      <dt><code>visualizar</code></dt>
      <dd>Exibe o post por completo.</dd>

      <dt><code>publicar</code></dt>
      <dd>Exibe o formulário de publicação e executa a ação de publicar o post, isto é, armazenar no banco de dados.</dd>
    </dl>

    {%- assign gistAnswer1="wagnerluis1982/353d0400ae1227be6ff9f9830c629fd4" %}

    <details>
      <summary><kbd><b>Posts.java</b></kbd> (veja a classe do comando)</summary>
      {% include gist.html id=gistAnswer1 filename="Posts.java" %}
    </details>

    <p>Para exibir as páginas do <u>MiniBlog</u>, eu utilizei uma página mestre com um layout básico que recebe
      dois parâmetros: <code>title</code> e <code>include</code>.</p>

    <details>
      <summary><kbd><b>/master-page.jsp</b></kbd></summary>
      {% include gist.html id=gistAnswer1 filename="master-page.jsp" %}
    </details>

    <p>Além disso, cada subcomando tem seu próprio fragmento de página:</p>

    <details>
      <summary><kbd><b>/posts/lista.jsp</b></kbd></summary>
      {% include gist.html id=gistAnswer1 filename="lista.jsp" %}
    </details>

    <details>
      <summary><kbd><b>/posts/visualizar.jsp</b></kbd></summary>
      {% include gist.html id=gistAnswer1 filename="visualizar.jsp" %}
    </details>

    <details>
      <summary><kbd><b>/posts/adicionar.jsp</b></kbd></summary>
      {% include gist.html id=gistAnswer1 filename="adicionar.jsp" %}
    </details>
  </li>

  <li class="pergunta" value="2">
    <p>
      Adicione um novo recurso ao <u>MiniBlog</u>, permita que um <em>post</em> só seja publicado na data e hora
      informada pelo usuário.
    </p>
    <p>
      Nesse caso, antes da data informada, o novo <em>post</em> não irá aparecer na lista, nem poderá ser acessado
      diretamente usando a URL.
    </p>
  </li>

  <li class="resposta">
    <p>Existem basicamente duas formas de solucionar esse problema:</p>
    <ol>
      <li><p>Consultar o banco de dados com <code>WHERE horario &lt;= GETDATE()</code>.</p>

        <p><b>OBS:</b> a função <code>GETDATE()</code> do SQL Server retorna a data/hora atual, assim, a condição irá
          obter todos os post cujo horário estejam até o horário atual.</p>
      </li>
      <li><p>Filtrar os resultados usando Java.</p>

        <p>Não recomendável porque aumenta demais o processamento do servidor web.</p>
      </li>
    </ol>

    <p>Usando a alternativa 1 como solução, eu adicionei o método <code>obterVisiveis()</code> à classe DAO e alterei o
      comando <code>Posts:index</code> para utilizar esse método em vez de obter todos os posts.</p>

    {%- assign gistAnswer2="wagnerluis1982/b7a42b41ea61912bed721fbca2d1d3ab" %}

    <details>
      <summary><kbd><b>obterVisiveis()</b></kbd> (novo método da classe <kbd>PostDao</kbd>)</summary>
      {% include gist.html id=gistAnswer2 filename="PostDao:obterVisiveis.java" %}
    </details>

    <details>
      <summary><kbd><b>Posts:index</b></kbd> (comando com alteração)</summary>
      {% include gist.html id=gistAnswer2 filename="Posts:index.java" lines="5" %}
    </details>

    <p>E eu modifiquei o controller do comando <code>Posts:visualizar</code> para que o post agendado não seja
      visualizado diretamente antes do horário de publicação.</p>

    <details>
      <summary><kbd><b>Posts:visualizar</b></kbd> (comando com alteração)</summary>
      {% include gist.html id=gistAnswer2 filename="Posts:visualizar.java" lines="11,12,13,14,15,16" %}
    </details>

    <p>No caso, eu considerei que se o post não pode ser exibido, então o cliente deve receber uma resposta
      <code>HTTP 404</code>, indicando que a página não existe.</p>
  </li>
</ol>
