{%- assign courseParts = site.pages | where_exp:"item", "item.draft != true"
                                    | where_exp:"item", "item.hidden != true"
                                    | where_exp:"item", "item.url != page.url"
                                    | where_exp:"item", "item.url contains page.url"
                                    | sort: "part", "last"
                                    | group_by:"part" -%}

<h1>Notas de aula</h1>

{%- for part in courseParts %}
  {%- if part.name != empty -%}
    {% assign heading = part.name | prepend:"Unidade " %}
    {% assign className = null %}
  {%- else -%}
    {% assign heading = "Outros" %}
    {% assign className = "other-pages" %}
  {%- endif %}

  <h2>{{ heading }}</h2>
  <ol class="{{ className }}">

  {%- assign partItems = part.items | sort: "date" -%}
  {%- for p in partItems %}
    <li><a href="{{ p.url }}">{{ p.topic | default: p.title }}</a></li>
  {%- endfor %}
  </ol>
{%- endfor -%}
