{%- if include.id -%}
  {%- if include.title -%}
  <details>
    <summary>{{ include.title }}</summary>
  {%- endif -%}

  <script src="https://gist.github.com/{{ include.id }}.js?file={{ include.filename }}"></script>

  {%- if include.lines -%}
    {%- if include.filename -%}
      {%- assign filenameId = include.filename | downcase
                                               | replace: ':', '-'
                                               | replace: '.', '-' -%}
      <script>
        "{{ include.lines }}".split(',').forEach(function (lineSpec) {
            var lines = [];

            // See if I have an interval...
            var specs = lineSpec.split('-');
            if (specs.length === 2) {
                var begin = parseInt(specs[0]);
                var end = parseInt(specs[1]);

                for (var i = begin; i <= end; i++) {
                    lines.push(i);
                }
            }
            // ...or a single line
            else {
                lines.push(lineSpec);
            }

            // Add .highlighted class
            lines.forEach(function (line) {
                document.getElementById("file-{{ filenameId }}-LC" + line)
                    .classList.add("highlighted");
            });
        });
      </script>
    {%- else -%}
      <script>
        "{{ include.lines }}".split(',').forEach(function (line) {
            document.getElementById("file-" + line)
                .classList.add("highlighted");
        });
      </script>
    {%- endif -%}
  {%- endif -%}

  {%- if include.title -%}
  </details>
  {%- endif -%}

{%- endif -%}
