.columns {
    display: flex;
}

.col {
    flex: 1;
}

.col.neat {
    padding: 0.5em !important;
}

.duvidas p a {
    font-size: smaller;
}

.demo, .coldemo {
    flex-grow: 0.5;
}

.demo {
    background: white;
    border: 1px solid black !important;
}

.demo:not(iframe) {
    font-size: 0.7em !important;
    padding: 6px !important;
    margin: 0 2.5% 0 2.5%;
}

.demo:not(iframe), .demo:not(iframe) * {
    font-family: serif !important;
    color: black !important;
    text-align: initial;
}

.demo:not(iframe) * {
    margin: 0 !important;
    text-transform: none !important;
}

.demo:not(iframe) small {
    vertical-align: initial !important;
}

.demo:not(iframe) h5 {
    font-size: 0.9em;
}

.demo:not(iframe) ul,
.demo:not(iframe) ol
{
    display: inherit;
    margin-left: 1em !important;
    margin-right: 1em !important;
    padding-left: 0.5em;
}

.demo:not(iframe) * + p {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.demo:not(iframe) :last-child {
    margin-bottom: 0 !important;
}

iframe.demo {
    width: 100%;
}

pre > code mark,
pre > code mark * {
    color: black !important;
}

pre > code .highlight,
.reveal .slides section pre > code [step].fragment.current-visible,
.reveal .slides section pre > code [step].fragment.highlight-current-blue.current-fragment,
.reveal .slides section pre > code [step].fragment.highlight-red.visible,
.reveal .slides section pre > code [step].fragment.highlight-green.visible,
.reveal .slides section pre > code [step].fragment.highlight-blue.visible
{
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    color: inherit;
}

.reveal .slides section .fragment.highlight-bold.visible {
    font-weight: bold;
}

pre > code .block,
pre > code [step="block"] {
    display: inline-block;
    width: 100%;
}

dl.sites dd > a + small {
    word-break: break-all;
}

dl.sites dd+dt, dl.neat dd+dt {
    margin-top: 0.5em;
}

img.emoji {
    height: 1em;
    width: 1em;
    vertical-align: -0.1em;
    margin: 0 .05em 0 .1em !important;
}

img.emoji,
img.borderless {
    border: 0 !important;
    background: inherit !important;
    box-shadow: none !important;
}

dialog {
    font-size: 1.3em;
}

dialog dt {
    font-weight: bold;
    margin-top: 0.5em;
}

dialog pre {
    line-height: 1.2;
}

table.neat {
    border-collapse: collapse;
}

table.neat th, table.neat td,
.reveal table.neat tbody tr:last-child th, .reveal table.neat tbody tr:last-child td {
    border: 2px solid;
    padding: 0.2em;
    vertical-align: middle;
}

a[target="_blank"]:not(.blank) {
    color: inherit;
}

table[border="0"] th, table[border="0"] td {
    border: 0 !important;
}

aside.fragment {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    font-size: 0.8em;
}

aside.fragment > main {
    display: inline-block;
    padding: 0.2em;
    background: wheat;
    border: 2px solid;
    width: 80%;

}
